
/* ==========================================================================
   View Gallery block on Private Events
   ========================================================================== */
.view-gallery { 
  border: 5px solid $grey; 
  padding: $m-pad; 
}

.view-gallery__p { padding-right: $xl-pad; }

.view-gallery__btn {
  margin-top: $l-pad; 
}
