
/* ==========================================================================
   Variables Section
   ========================================================================== */
	



/* Common Colors
   ========================================================================== */
$deep-blue:   #0c222b;

$bgcolor:  		#fbfaf3; //body bg-color - Cream

$grey:  	 		#444;
$m-gray:      #AFADAD;
$l-gray:  	 	#dcdcdc;
$white:       #fff;

$footer-grey: #a5aeb1;
$footer-grey-border: #32434a;


$html-text-color: $grey;
$footer-text-color: $bgcolor;



/* London Variables
   ========================================================================== */
$dark-orange: #b26a38;



/* Brighton Variables
   ========================================================================== */
$red: #ed1846;



/* Cornwall Variables
   ========================================================================== */
$cobalt: #009fb3;








/* Padding
   ========================================================================== */
$xs-pad: 		.25em;
$s-pad: 		.5em;
$m-pad: 		1em;
$l-pad: 		1.5em;
$xl-pad: 		2.5em;
$xxl-pad: 	3em;
$xxxl-pad:  4.5em;





/* Max Width
   ========================================================================== */
$max-width: 1185px; //1170px;
$medium-max-width: 850px;
$small-max-width: 770px;